* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
    background-color: #36393f;
}

#banner {
    width: 512px;
}

.card {
    color: whitesmoke;
    background-color: #535dc4;
    border-radius: 15px;
    padding: 2.5rem 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#card_button {
    background-color: transparent;
    text-align: center;
}

h2 {
    font-family: "Sigmar", sans-serif;
    font-size: 2rem;
}

p {
    font-family: "DM Sans", sans-serif;
}

/* button {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    background-color: #5865f2;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

#download_button {
    background-color: whitesmoke;
    color: black;
}