* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
    background-color: purple;
}

#banner {
    width: 512px;
}

.card {
  color: whitesmoke;
  background-color: #535dc4 ;
  border-radius: 15px;
  padding: 2.5rem 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
    }

h2 {
    font-family: "Sigmar", sans-serif;
}

p {
    font-family: "DM Sans", sans-serif;
}









/*

   
    border: 1px solid rgb(212, 212, 212);
    min-height: 150px;
    box-shadow: -9px -9px 5px #613B31;
    background-color: #F9E04F;
    border-color: black;
    border-style: solid;
    border-width: 2px;
   
    margin: 2rem 2rem;




    border-color: black;
    border-width: 2px;
    padding: 20px;
    margin-bottom: 20px;
   

*/