* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
    background-color: #383f8c;
    /*background-image: url("assets/img/background.png");*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner {
    width: 512px;
}

.card {
    color: whitesmoke;
    background-color: #535dc4;
    border-radius: 15px;
    padding: 2.5rem 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#card_button {
    background-color: transparent;
    text-align: center;
}

h2 {
    font-family: "Sigmar", sans-serif;
    font-size: 40px;
    line-height: 110%;
}

p {
    font-family: "DM Sans", sans-serif;
}

#download_button {
    background-color: whitesmoke;
    color: black;
}

button {
    margin-block: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #5865f2;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

#img1,
#img2 {
    border-radius: 15px;
    max-width: 100%;
}

.icons {
position: absolute;
}